
@{
    ViewBag.Title = "სასარგებლო მასალა";
}

<div class="page-header">
    <h2>სასარგებლო მასალა <small>გადმოწეროთ</small> </h2>
</div>

<div>

    <table class="table table-hover auto-width">
        <tr>
            <th>ტიპი</th>
            <th>ბმული</th>

        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="~/Content/img/Adobe_PDF_file_icon_32x32.png" /></td>
            <td><a href="~/Download/anbani.pdf">ქართული ანბანი ამოსაბეჭდი (სრული)</a></td>
        </tr>
        <tr>
            <td><img src="~/Content/img/Adobe_PDF_file_icon_32x32.png" /></td>
            <td><a href="~/Download/anbani1.pdf">ქართული ანბანი ამოსაბეჭდი (პირველი გვერდი)</a></td>
        </tr>
        <tr>
            <td><img src="~/Content/img/Adobe_PDF_file_icon_32x32.png" /></td>
            <td><a href="~/Download/anbani2.pdf">ქართული ანბანი ამოსაბეჭდი (მეორე გვერდი)</a></td>
        </tr>
        <tr>
            <td><img src="~/Content/img/Adobe_PDF_file_icon_32x32.png" /></td>
            <td><a href="~/Download/qaragmebi.pdf">ქარაგმების გახსნა</a></td>
        </tr>
        <tr>
            <td><img src="~/Content/img/Adobe_PDF_file_icon_32x32.png" /></td>
            <td><a href="~/Download/locvebi.pdf">დილისა და ძილად მისვლის ლოცვები (ხუცურად)</a></td>
        </tr>
        <tr>
            <td><img src="~/Content/img/Adobe_PDF_file_icon_32x32.png" /></td>
            <td><a href="~/Download/anbani-targmanit.pdf">რუსულ-ქართული და ბერძნულ-ქართული შესატყვისი ანბანში</a></td>
        </tr>


    </table>
</div>


<a href="https://get.adobe.com/reader/"><img src="~/Content/img/Get_Adobe_Acrobat_Reader_DC_web_button_158x39.fw.png" />PDF ფორმატის ფაილების სანახავად გადმოწერეთ </a>

<small>მასაალ აღებულია საიტიდან http://martlmadidebloba.ge/ganmarteba19.html </small>
