@model LOGA.WebUI.Models.Translate

@{
    ViewBag.Title = "თარგმანი";
    ViewBag.PageHead = ViewBag.Title;
    ViewBag.PageHeadSmall = "შევამოწმოთ ცოდნა";
}


@using (Ajax.BeginForm("Translate", new AjaxOptions { UpdateTargetId = "divAjaxUpdate" }))
{
    <div id="divAjaxUpdate">
        @Html.Partial("TranslatePartial", Model)
    </div>
    
}

