@font-face {
    font-family: GeoUnicodeFont;
    src: url('../../fonts/sylfaen.ttf')
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 480px;
}

/* Use Sylfaen explicitely */
.geo-font {
    font-family: GeoUnicodeFont;
}

/* Outer margin */
.margin-8 {
    margin: 8px;
}

/* Inner padding */
.padding-8 {
    padding: 8px;
}

.padding-v-spaced {
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-spaced {
    margin-bottom: 12px;
    display: flex;
    display: -webkit-flex; /* Safari */
}

.auto-width {
    width: auto !important;
}

.btn-min-width {
    min-width: 300px;
    max-width: 300px;
}

.text-v-middle {
    vertical-align: middle;
}

.text-spaced {
    line-height: 200%;
}

/* Virtual Geo Keyboard */

.ul-reset {
    width: 100%;
    padding: 0;
}

.keyboard {
    display: flex;
    display: -webkit-flex; /* Safari */
    padding-top: 20px;
}

.keyboard-letter {
    float: left;

    font-weight: bolder;

    width: 8%;
    height: 30px;
    margin: 2px;
    padding: 1px;

    border: dashed;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;

    text-align: center;
    list-style: none;
}

li.keyboard-letter:active {
    background-color: aqua;
}


.keyboard-letter-blank {
    height: 30px;
    margin: 2px;
    
    border: dashed;
    border-width: 1px;
    border-color: green;
    border-radius: 5px;

    text-align: center;
    float: left;
    list-style: none;
}

.keyboard-letter-blank-1 {
    width: 3%;
}

.keyboard-letter-blank-2 {
    width: 6%;
}

.keyboard-letter-shift {
    width: 9%;
}

.keyboard-letter-backspace {
    width: 12%;
}

.keyboard-letter-blank-4 {
    width: 12%;
}

.keyboard-letter-space {
    width: 70%
}

.keyboard-letter-newrow {
    clear: left;
}
