@using LOGA.WebUI.Models

@{
    ViewBag.Title = "\"ბებო ენა\"";
}

<div class="page-header">
    <h2>"ბებო ენა" <small>&ndash; ვისწავლოთ ხუცური</small> </h2>
</div>

<blockquote class="blockquote-reverse">
    <p>ხუცური — ასომთავრულისა და ნუსხურის საერთო სახელწოდება.</p>
    <footer>აღწერა აღებულია <cite title="Source title"><a class="text-muted" href="ka.wikipedia.org/wiki/ხუცური">ქართული ვიკიპედიიდან</a></cite></footer>
</blockquote>

<div class="container">

    <div class="row row-spaced">
        <div class="col-md-12 text-justify">
            <p class="h3 text-info padding-v-spaced">
                თუკი გესაჭიროებათ დაიმახსოვროთ ძველი ქართული ანბანის ასოები და ისწავლოთ ხუცურის კითხვა, ჩვენი საიტის ამოცანაა დაგეხმაროთ ამაში.
            </p>
        </div>
    </div>
    <div class="row row-spaced" style="display: flex">
        <div class="col-md-8 text-justify panel panel-default">
            <p class="h4 text-spaced">
                "ბებო ენის" საშუალებით ძველი ქართულის შესწავლა ხდება მსგავსად იმისა, როგორც სწავლობენ ბავშვები (და უცხოელები) თანამედროვე ქართულ ასოებს "დედა ენით":
                სწავლის თითოეულ ნაბიჯზე თქვენ გეძლევათ ახალი ასო-ბგერა, და უკვე შესწავლილი ასოებისგან ხდება სიტყვების და წინადადებების შედგენა.
            </p>
        </div>
        <div class="col-md-4 text-left">
            <img class="img-thumbnail" alt="Bootstrap Image Preview" src="~/Content/img/1_damwerloba.png" />
        </div>
    </div>
    <div class="row row-spaced" style="display: flex">
        <div class="col-md-4 text-right">
            <img class="img-thumbnail" alt="Bootstrap Image Preview" src="~/Content/img/2_SvetickxovlisGulani.png" />
        </div>
        <div class="col-md-8 text-justify panel panel-default">
            <p class="h4 text-v-middle margin-8">
                თქვენი ცოდნის შემოწმება ხდება ინტერაქტიულად - "ბებო ენა" გიწერთ სიტყვას ან წინადადებას ხუცურად, ხოლო თქვენ უნდა შეიყვანოთ მისი შესაბამისი თარგმანი თანამედროვე ქართულად.
                ყოველი ასოს შესწავლის შემდეგ "ბებო ენა" გაძლევთ შეფასებას, და რეკომნდაციას - გააგრძელოთ შემდეგ თუ ხელახლა გადაიმეოროთ მასალა.
            </p>
        </div>
    </div>
    <div class="row row-spaced" style="display: flex">
        <div class="col-md-8 text-justify panel panel-default">
            <p class="h4 text-v-middle margin-8">
                "ბებო ენა" - ეს არის ხუცურის შესწავლის საინტერესო და ეფექტური საშუალება.
                <br />
                <br />
                <strong>ისწავლეთ ძველი ქართული ჩვენთან ერთად!</strong>
            </p>
        </div>
        <div class="col-md-4 text-left">
            <img class="img-thumbnail" alt="Bootstrap Image Preview" src="~/Content/img/3_Jruchi.png" />
        </div>
    </div>
    <div class="row row-spaced">
        <div class="col-md-12 text-center panel panel-default padding-v-spaced">
            @Html.ActionLink("დავიწყოთ სწავლა!", "Letter", "Learn", new { lid = 1 }, new { @class = "btn btn-success btn-lg" })
        </div>
    </div>

</div>

@if (Html.IsDebugMode())
{
<pre>
<strong>TODO:</strong>
- P1 (MVP) -
* khucuri.me / beboena.me
* Google analitycs
- P2 -
* Learn unavailable letters
** With letter cards
* Add explanation of asomtavruli and nuskhuri in settings dialog
* Add excersizes with translations
** Add large orthodox texts to translate
* Show settings with disabled JS
* Service page to calculate letter for given sentence
* Add more sentences to translate
* Associations with images or mnemonics
* Service page for logs
<strong>BUGS:</strong>
* Translation fails when session expires
* Fix redirection links - translation, styling, availability
* Remove unused code
<strong>Links:</strong>
* https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/concepts.html
* http://docs.aws.amazon.com/gettingstarted/latest/wah/getting-started-configure-route53.html
* https://martinbuberl.com/blog/deploy-aspnet-mvc-on-amazon-ec2-with-web-deploy/
* http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_NET.quickstart.html
</pre>
}
