@using LOGA.WebUI.Models
@model Dictionary<char, LOGA.WebUI.Models.GeorgianLetter>

@{
    ViewBag.Title = "ქართული ანბანი";
}

@if (Html.IsDebugMode())
{
<pre>
<strong>TODO:</strong>
* Add section with PDFs to download
** http://martlmadidebloba.ge/ganmarteba19.html
** Georgian on http://www.memrise.com/home/
** Tips http://www.fluentin3months.com/phonetic-script-can-be-learned-quickly/
* Add excersizes with translations
** Add large orthodox texts to translate
* Introducution text
** Add from Wikipedia, with reference to it
* Show settings with disabled JS
* How to learn unavailable letters - index more then 100
* Service page to calculate letter for given sentence
* Add more sentences to translate
* Associations with images or mnemonics
* Add google analitycs
* deploy
* Service page for logs
* khucuri.me / beboena.me
<strong>BUGS:</strong>
* Translation fails when session expires
* Fix redirection links - translation, styling, availability
* Remove unused code
<strong>Links:</strong>
* https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/concepts.html
* http://docs.aws.amazon.com/gettingstarted/latest/wah/getting-started-configure-route53.html
* https://martinbuberl.com/blog/deploy-aspnet-mvc-on-amazon-ec2-with-web-deploy/
* http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_NET.quickstart.html
</pre>
}

<div class="page-header">
    <h2>ქართული ანბანი <small>ვისწავლოთ ხუცური</small> </h2>
</div>

<p>
    მოგესალმებით, საჭიროება მოითხოვს ხუცურის შესწავლას, რაშიც დაგეხმარებათ ჩვენი საიტი...
    <br />
    შესწავლა ხდება ინტერაქტიულად, ჩვენ გიწერთ ტექსტს ხუცურად, თქვენ უნდა დაწეროთ თარგმანი...
    <br />
    ვსწავლობთ როგორც დედა ენაში...
    <br />
</p>

<p class="text-center">
    @Html.ActionLink("დავიწყოთ სწავლა!", "Letter", "Learn", new { lid = 1 }, new { @class = "btn btn-info btn-lg" })
</p>
