@using LOGA.WebUI.Models

@{
    ViewBag.Title = "ხუცურის სწავლა";
}

<div class="page-header">
    <h2>"ბებო ენა" <small>&ndash; ვისწავლოთ ხუცური</small> </h2>
</div>

<blockquote class="blockquote-reverse">
    <p>ხუცური — ასომთავრულისა და ნუსხურის საერთო სახელწოდება.</p>
    <footer>
        აღწერა აღებულია <cite title="Source title"><a class="text-muted" href="https://ka.wikipedia.org/wiki/ხუცური" target="_blank">ქართული ვიკიპედიიდან</a></cite>
    </footer>
</blockquote>

<div class="container">

    <div class="row row-spaced">
        <div class="col-md-12 text-justify">
            <div class="panel panel-default h3 text-info text-center text-spaced padding-8">
                თუკი გესაჭიროებათ დაიმახსოვროთ ძველი ქართული ანბანის ასოები და ისწავლოთ ხუცურის კითხვა, ჩვენი საიტის ამოცანაა დაგეხმაროთ ამაში.
            </div>
        </div>
    </div>
    <div class="row row-spaced">
        <div class="col-md-8 text-justify panel panel-default">
            <p class="h4 text-spaced">
                "ბებო ენის" საშუალებით ძველი ქართულის შესწავლა ხდება მსგავსად იმისა, როგორც სწავლობენ ბავშვები (და უცხოელები) თანამედროვე ქართულ ასოებს "დედა ენით":
                სწავლის თითოეულ ნაბიჯზე თქვენ გეძლევათ ახალი ასო-ბგერა, და უკვე შესწავლილი ასოებისგან ხდება სიტყვების და წინადადებების შედგენა.
            </p>
        </div>
        <div class="col-md-4 text-left">
            <a href="https://ka.wikipedia.org/wiki/მრავალთავი" target="_blank">
                <img class="img-thumbnail img-responsive" alt="სვანური მრავალთავი (X ს.)" src="~/Content/img/1_SvanuriMravaltavi.png" />
            </a>
            <div>
                სვანური მრავალთავი (X&nbsp;ს.)
            </div>
        </div>
    </div>
    <div class="row row-spaced">
        <div class="col-md-4 text-right">
            <a href="http://qartulidamwerloba.blogspot.com/2012/04/blog-post_6869.html" target="_blank">
                <img class="img-thumbnail img-responsive" alt="სვეტიცხოვლის გულანი (1681 წ.)" src="~/Content/img/2_SvetickxovlisGulani.png" />
            </a>
            <div>სვეტიცხოვლის გულანი (1681&nbsp;წ.)</div>
        </div>
        <div class="col-md-8 text-justify panel panel-default">
            <p class="h4 text-spaced">
                თქვენი ცოდნის შემოწმება ხდება ინტერაქტიულად - "ბებო ენა" გიწერთ სიტყვას ან წინადადებას ხუცურად, ხოლო თქვენ უნდა შეიყვანოთ მისი შესაბამისი თარგმანი თანამედროვე ქართულად.
                ყოველი ასოს შესწავლის შემდეგ "ბებო ენა" გაძლევთ შეფასებას, და რეკომნდაციას - გააგრძელოთ შემდეგ თუ ხელახლა გადაიმეოროთ მასალა.
            </p>
        </div>
    </div>
    <div class="row row-spaced">
        <div class="col-md-8 text-justify panel panel-default">
            <div class="h4 text-spaced padding-v-spaced">
                "ბებო ენა" - ეს არის ხუცურის შესწავლის საინტერესო და ეფექტური საშუალება.
                <p class="h3 text-center" style="margin-top: 20px">
                    <strong>ისწავლეთ ძველი ქართული ჩვენთან ერთად!</strong>
                </p>
            </div>
        </div>
        <div class="col-md-4 text-left">
            <a href="https://ka.wikipedia.org/wiki/ჯრუჭის_I_ოთხთავი" target="_blank">
                <img class="img-thumbnail img-responsive" alt="ჯრუჭის ოთხთავი (936-940 წწ.)" src="~/Content/img/3_JruchisOtxtavi.png" />
            </a>
            <div>ჯრუჭის ოთხთავი (936-940&nbsp;წწ.)</div>
        </div>
    </div>
    <div class="row row-spaced">
        <div class="col-md-12 text-center panel panel-default padding-v-spaced">
            @Html.ActionLink("დავიწყოთ სწავლა!", "Letter", "Learn", new { lid = 1 }, new { @class = "btn btn-success btn-lg btn-block" })
        </div>
    </div>

</div>

@if (Html.IsDebugMode())
{
<pre>
<strong>TODO:</strong>
* Save progress for multiple different users
* Narrow screens support
* GA optimization
* Add transliteration for En keyboard / add virt keyboard
* Learn unavailable letters with letter cards
* Add explanation of asomtavruli and nuskhuri in settings dialog
* Add excersizes with translations
** Add large orthodox texts to translate
* Show settings with disabled JS
* Add more sentences to translate
** Service page to calculate letter for given sentence
* Associations with images or mnemonics
* Service page for logs
* khucuri.me
<strong>BUGS:</strong>
* Translation fails when session expires
* Remove unused code
<strong>Links:</strong>
* https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/concepts.html
* http://docs.aws.amazon.com/gettingstarted/latest/wah/getting-started-configure-route53.html
* https://martinbuberl.com/blog/deploy-aspnet-mvc-on-amazon-ec2-with-web-deploy/
* http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_NET.quickstart.html
</pre>
}
