@using LOGA.WebUI.Models
@model Dictionary<char, LOGA.WebUI.Models.GeorgianLetter>

@{
    ViewBag.Title = "ქართული ანბანი";
}

@if (Html.IsDebugMode())
{
<pre>
<strong>TODO:</strong>
* How to learn words in asomtavruli and numbers
** Add levels of complexity - (1) nusxuri (2) asomtavruli (3) numbers
* How to learn unavailable letters - index more then 100
* Add intermediate exam with random letters learned up to current in the TranslationResult
** Add large orthodox texts to translate
* Save user progress (DB / Cookie)
* Introducution text
* Add section with PDFs to download
* Service page to calculate letter for given sentence
* Service page for logs
* Add more sentences to translate
* Associations with images or mnemonics
* http://martlmadidebloba.ge/ganmarteba19.html
* Georgian on http://www.memrise.com/home/
* Tips http://www.fluentin3months.com/phonetic-script-can-be-learned-quickly/
* Add google analitycs
* deploy
<strong>BUGS:</strong>
* Translation fails when session expires
* Fix redirection links - translation, styling, availability
* Remove unused code
</pre>
}

<h2>ქართული ანბანი</h2>

<p>
    მოგესალმებით, საჭიროება მოითხოვს ხუცურის შესწავლას, რაშიც დაგეხმარებათ ჩვენი საიტი...
    <br />
    შესწავლა ხდება ინტერაქტიულად, ჩვენ გიწერთ ტექსტს ხუცურად, თქვენ უნდა დაწეროთ თარგმანი...
    <br />
    ვსწავლობთ როგორც დედა ენაში...
    <br />
</p>
<p class="text-center">
    @Html.ActionLink("დავიწყოთ სწავლა!", "Letter", "Learn", new { lid = 1 }, new { @class = "btn btn-info btn-lg" })
</p>
