@model string

@{
    ViewBag.Title = "სწავლა";
}

@TempData["Result"];


@using (Html.BeginForm("Translate", "Home"))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            გადათარგმნეთ
        </div>
        <div class="panel-body">

            <div class="h2">@Model</div>
            <div>
                @Html.TextBox("tbTranslation", null, new { @class = "form-control input-lg", placeholder = "შეიყვანეთ თარგმანი", autofocus = "" })
            </div>
        </div>
    </div>

    @Html.Hidden("hdnKhucuri", Model);
    <input type="submit" id="btnTranslate" name="btnTranslate" value="შევამოწმოთ" class="btn btn-default" />
}
