@model string

@{
    ViewBag.Title = "სწავლა";
}



@using (Html.BeginForm("LetterVerifyTranslation", "Home"))
{

    <table class="table text-center table-bordered" style="width: 500px">
        <colgroup>
            <col style="width: 25%; background-color: lightgray" />
            <col style="width: 25%" />
            <col style="width: 25%" />
            <col style="width: 25%" />
        </colgroup>

        <tr>
            <td>გადათარგმნეთ</td>
        </tr>
        <tr>
            <td><strong>@Model</strong></td>
        </tr>
        <tr>
            <td class="h1">@Html.TextBox("translation")</td>
        </tr>
    </table>

    //@Html.HiddenFor(m => m.LearnOrder);
    @Html.Hidden("mxedruli", Model);
    <input type="submit" id="translate" name="translate" value="შევამოწმოთ" class="btn btn-default" />
}
