@model LOGA.WebUI.Models.Translate

@{
    ViewBag.Title = "სწავლა";
}

@TempData["Result"];


@using (Html.BeginForm("Translate", "Home"))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            გადათარგმნეთ
        </div>
        <div class="panel-body">
            <div class="h2" style="padding-bottom: 15px; padding-top: 5px">@Model.Khucuri</div>
            <div>
                @Html.TextBox("tbTranslation", null, new { @class = "form-control input-lg", placeholder = "შეიყვანეთ თარგმანი", autofocus = "" })
            </div>
        </div>
    </div>

    @Html.Hidden("hdnMxedruli", Model.Mxedruli);
    <input type="submit" id="btnTranslate" name="btnTranslate" value="შევამოწმოთ" class="btn btn-default" />
}
