@using LOGA.WebUI
@using LOGA.WebUI.Models
@model Dictionary<char, LOGA.WebUI.Models.GeorgianLetter>

@{
    ViewBag.Title = "სწავლა";
    ViewBag.PageHead = ViewBag.Title;
    ViewBag.PageHeadSmall = "ქართული ანბანი";

    int progressLId = HttpContextStorage.GetUserLearnProgressLId(Context);
    if (!GeorgianABC.IsValidLearnIndex(progressLId))
    {
        progressLId = GeorgianABC.FIRST_LETTER_LID;
    }
    var progressLetter = GeorgianABC.GetLetterByLearnIndex(progressLId);
    string btnText = progressLId == GeorgianABC.FIRST_LETTER_LID ? "დავიწყოთ სწავლა" : $"გავარძელოთ სწავლა (ასო \"{progressLetter.Mkhedruli}\"-დან)";

    string viewname = Request.Browser.IsMobileDevice ? "_LettersListMobilePartial" : "_LettersListPartial";
}

<div class="panel panel-default" style="padding: 30px;">
    @Html.ActionLink(btnText, "Letter", "Learn", new { lid = progressLId }, new { @class = "btn btn-info btn-lg" })
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#tabOrderDE" aria-controls="tabOrderDE" role="tab" data-toggle="tab">
            <span class="hidden-lg">დედა ენა (ი, ა...)</span>
            <span class="visible-lg">დედა ენის მიმდევრობა (ი, ა, თ...)</span>
        </a>
    </li>
    <li role="presentation">
        <a href="#tabOrderABC" aria-controls="tabOrderABC" role="tab" data-toggle="tab">
            <span class="hidden-lg">ანბანი (ა, ბ...)</span>
            <span class="visible-lg">ანბანის მიმდევრობა (ა, ბ, გ...)</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="tabOrderDE">
        @Html.Partial(viewname, Model.Values.OrderBy(item => item.LearnOrder))
    </div>
    <div role="tabpanel" class="tab-pane" id="tabOrderABC">
        @Html.Partial(viewname, Model.Values)
    </div>
</div>