@model Dictionary<char, LOGA.WebUI.Models.GeorgianLetter>

@{
    ViewBag.Title = "სწავლა";
    ViewBag.PageHead = ViewBag.Title;
    ViewBag.PageHeadSmall = "ქართული ანბანი";

    var settings = HttpContextStorage.GetUserSettings(Context);
    int progressLId = (settings.SaveLearnProgress && GeorgianABCService.IsValidLearnIndex(settings.SavedLearnProgressLId)) ? settings.SavedLearnProgressLId : GeorgianABCService.FIRST_LETTER_LID;
    var progressLetter = GeorgianABCService.GetLetterByLearnIndex(progressLId);
    string btnText = progressLId == GeorgianABCService.FIRST_LETTER_LID ? "დავიწყოთ სწავლა" : $"გავარძელოთ სწავლა (ასო \"{progressLetter.Mkhedruli}\"-დან)";

    string viewname = Context.Request.IsMobileBrowser() ? "_LettersListMobilePartial" : "_LettersListPartial";
}

<div class="panel padding-8">
    @Html.ActionLink(btnText, "Letter", "Learn", new { lid = progressLId }, new { @class = "btn btn-success btn-lg" })
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#tabOrderDE" aria-controls="tabOrderDE" role="tab" data-toggle="tab">
            <span class="hidden-lg">დედა ენა (ა, ი...)</span>
            <span class="visible-lg">დედა ენის მიმდევრობა (ა, ი, თ...)</span>
        </a>
    </li>
    <li role="presentation">
        <a href="#tabOrderABC" aria-controls="tabOrderABC" role="tab" data-toggle="tab">
            <span class="hidden-lg">ანბანი (ა, ბ...)</span>
            <span class="visible-lg">ანბანის მიმდევრობა (ა, ბ, გ...)</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="tabOrderDE">
        @await Html.PartialAsync(viewname, Model.Values.OrderBy(item => item.LearnOrder))
    </div>
    <div role="tabpanel" class="tab-pane" id="tabOrderABC">
        @await Html.PartialAsync(viewname, Model.Values)
    </div>
</div>

<div class="panel padding-8 text-right">
    @Html.ActionLink(btnText, "Letter", "Learn", new { lid = progressLId }, new { @class = "btn btn-success btn-lg" })
</div>