@model LOGA.WebUI.Models.GeorgianLetter

@{
    ViewBag.Title = "სწავლა";
    ViewBag.PageHead = ViewBag.Title;
    ViewBag.PageHeadSmall = "დაიმახსოვრეთ ასოს დამწერლობა";

    int nextLetterLId = LOGA.WebUI.Models.GeorgianABC.GetNextLetterLearnIndex(Model.LearnOrder);
    int prevLetterLId = LOGA.WebUI.Models.GeorgianABC.GetNextLetterLearnIndex(Model.LearnOrder, true);

    // Tablets are NOT included into Mobile Devices
    string viewname = Request.Browser.IsMobileDevice ? "_LetterToLearnMobilePartial" : "_LetterToLearnPartial";
}

@Html.Partial(viewname, Model, new ViewDataDictionary { { "size", "h2" } })

@{
    var showTranslate = (Model.Words.Count() > 0);
    var showNext = true;
    var showPrev = (Model.LearnOrder != 1);
}

@if (showTranslate)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("შევამოწმოთ ცოდნა", "Translate", "Learn", new { lid = Model.LearnOrder }, new { @class = "btn btn-primary btn-lg btn-block", id = "default-focus-a" })
    </div>
}
@if (showNext)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("დავიმახსოვრე - შემდეგი ასო", "Letter", "Learn", new { lid = nextLetterLId }, new { @class = "btn btn-info btn-lg btn-block" })
    </div>
}
@if (showPrev)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("წინა ასო", "Letter", "Learn", new { lid = prevLetterLId }, new { @class = "btn btn-default btn-lg btn-block" })
    </div>
}