@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>შეცდომა</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.2.min.js"></script> <!-- must appear before bootstrap.js -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                შეცდომა პროგრამაში
            </div>
            <div class="panel-body">
                <p class="h3">
                    სამწუხაროდ მოხდა გაუთვალიწინებელი შეცდომა. ჩვენ ვეცდებით გამოვასწოროთ ის უახლოეს პერიოდში.
                </p>
                <p class="h2">
                    ბოდიშს გიხდით უხერხულობისათვის.
                </p>
                <hr />
                <p class="h4">
                    @Html.ActionLink("საწყისს გვერდზე დაბრუნება", "Index", "Home")
                </p>
            </div>
        </div>
    </div>
</body>
</html>
